<!doctype html>
<title>easyBee</title>
{% if name %}
  <h1>Hello {{ request.cookies.get('name') }}!</h1>
  {% if first_layer %}
    {% for f in first_layer %}
      <a href={{ f.replace(" ", '') }}> {{ f.replace(" ", '') }}</a>
      <br/>
    {% endfor %}
  {% else %}
    {% for f in fs %}
      <a href={{ f["p"].replace(" ", '') }}> {{ f["name"] }}</a>
      <br/>
    {% endfor %}
  {% endif %}


{% else %}
  <form action="/check", method="POST">
    账户:<br>
    <input type="text" name="account" value="">
    <br>
    密码:<br>
    <input type="password" name="passwd" value="">
    <br><br>
    <input type="submit" value="登录">
    </form> 
{% endif %}